<div class="login-container">
    <div class="login-card">
      <h1 class="login-title">Iniciar Sesión</h1>
      <form action="/api/users/login" method="POST">
        <label class="login-label">Email:</label>
        <input type="email" name="email" class="login-input" required>
        
        <label class="login-label">Contraseña:</label>
        <input type="password" name="password" class="login-input" required>
        
        <button type="submit" class="login-button">Entrar</button>
      </form>
    </div>
  </div>